/* styles.css */

.container {
    padding: 20px;
  }
  
  .restaurant-item {
    border: 1px solid #ddd;
    padding: 16px;
    margin-bottom: 16px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  
  .restaurant-item img {
    width: 50%;
    height: auto;
    border-radius: 8px;
  }
  
  .error {
    color: red;
    margin-top: 8px;
  }
  